{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forget Password</title>
        <link rel="stylesheet" href={% static 'css/style.css' %}>
        <link rel="stylesheet" href={% static 'css/signup.css' %}>

    </head>
    <body>
        <div class="signup-conatainer">
            <div class="signup-section">
                    {% if validlink %}
                <form  autocomplete="off" method="post">
                    {% csrf_token %}
                    <label class="sabtenam">فراموشی رمز عبور</label>
                    <input name="new_password1" type="password" class="signup-input" placeholder="رمز عبور جدید" required minlength="4" maxlength="15">
                    <input name="new_password2" type="password" class="signup-input" placeholder="تکرار رمز عبور" required minlength="4" maxlength="15">
                    <button type="submit" class="btn forget-pass-submit-btn">ثبت</button>
                </form>
                {% endif %}
            </div>
        </div>

    </body>
</html>