        <footer class="footer container">
            <p class="footer-text">تمامی حقوق این سایت مختص به دکترجا می باشد.</p>
            <span class="footer-icons-container">
                <i class="fa-brands fa-instagram footer-icon"></i>
                <i class="fa-brands fa-whatsapp footer-icon"></i>
                <i class="fa-brands fa-x-twitter footer-icon"></i>
                <i class="fa-solid fa-phone footer-icon"></i>
                <i class="fa-solid fa-location-dot footer-icon"></i>
            </span>
        </footer>